<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://use.fontawesome.com/573c505b44.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header2') %>

  <% if(user) { %>
  <main style="margin: 1em;">
    <div class="col-xl-3 col-lg-6" >
      <span class="col-2"><%= Object.keys(userUrls).length %> Links</span>
      <span class="col-2 offset-6">Clicks all time</span>      
    </div>

        <% for(let url in userUrls) { %>
          <form method="GET" action="/urls/<%= url %>">

          <div class="col-xl-3 col-lg-6 mt-3 pt-3" style="border-top:1px solid #d3d4d7; cursor:pointer" onclick="javascript:this.parentNode.submit();">
            <div class="">
              <div class="">
                <div class="row">
                <div class="col-10">
                  <h6 class="text-uppercase text-muted"><%= userUrls[url].createdAt.toDateString() %></h6>
                  <h4><%= userUrls[url].longURL %></h4>
                  <h5 class="text-warning"><%= userUrls[url].u %></h5>
                </div>
                <div class="col-2 row align-items-end mb-2">
                  <h5><%= userUrls[url].visits.mobile + userUrls[url].visits.desktop %> <i class="fa fa-bar-chart" aria-hidden="true"></i></h5>
                </div>
              </div>
              </div>
            </div>
          </div>
      </form>
          <% } %>
    <form method="GET" action="/urls/new" class="row justify-content-center m-5">
      <button type="submit" class="btn btn-outline-primary ">
        Create a New Short Link
      </button>
    </form>  </main>
  <% }else { %>
    <div class="alert alert-warning" role="alert">
      Please <a href="/login">login</a> or <a href="/register" >register</a> to access the urls!
    </div>
  <% } %>
  <% if(message) {%>
    <div class="alert alert-warning" role="alert">
      <%= message %>
    </div>
  <%}%>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
  </script>
</body>
</html>