<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header2') %>
  <% if(user){ %>
    <% if(userUrls[shortURL]) {%>
  <div class="card">
      <div class="card-body">
        <h4 class="card-text text-warning"><a href="/u/<%= userUrls[shortURL].u %>"><%= userUrls[shortURL].u %></a></h4>
        <h6 style="border-top:1px solid #d3d4d7;" class="text-muted pt-4">Created <%= userUrls[shortURL].createdAt.toDateString() %></h6>
        <form method="POST" action="/urls/<%= userUrls[shortURL].u %>?_method=PUT">
          <label for="urlTitle" class="mt-3">Edit Url Title</label>
          <input type="text" class="form-control" id='urlTitle' value="<%= userUrls[shortURL].urlTitle %>" name='urlTitle'><br>
          <label for="newLongUrl" class="mt-3">Edit second half</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= fullPath %>/u/ %></div>
            </div>
            <input type="text" class="form-control" maxlength="6" id='newLongUrl' value="<%= userUrls[shortURL].u %>" name='newLongUrl'><br>
          </div>
          <small id="emailHelp" class="form-text text-muted">TinyURL are limited at 6 characters.</small>

          <button type="submit" class="btn btn-primary mt-3">
            Save
          </button>
        </form>
      </div>
    <div class="card-footer text-muted"></div>
  </div>
    <% } else { %>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="alert alert-warning" role="alert">
            This urls does not belong to you account...sorry! Go back to your <a href="/urls">urls</a>
          </div>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <% } %>
  <% }else{ %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="alert alert-warning" role="alert">
          Please <a href="/login">login</a> or <a href="/register" >register</a> to access the urls!
        </div>
      </div>
    <div class="card-footer text-muted"></div>
    </div>
  <% } %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    let copyClip = document.getElementById('copyClip')
    if(copyClip){
    copyClip.addEventListener('click', function(e){
      e.preventDefault()
      let copyText = document.getElementById('pureLink')
      copyText.select()
      document.execCommand('copy')
    })
  }
  </script>
</body>
</html>