<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <% if(user){ %>
    <% if(userUrls[shortURL]) {%>
  <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        <% if(user.paid) {%>
        <div class="container">
          <div class="row justify-content-center">
          <input class="form-control col-md-3" type="text" value="<%= fullPath %>/u/<%= shortURL %>" id="pureLink" readonly>
          <button class="btn btn-outline-primary" id="copyClip">Copy</button>
          </div>  
        </div> 
        <% } %>
        <p>Created at: <%= userUrls[shortURL].createdAt %></p>
        <p>Visited: <%= userUrls[shortURL].visits.mobile + userUrls[shortURL].visits.desktop %> time(s) | <%= Object.keys(userUrls[shortURL].uniqueVisitors).length %> Unique Visitor(s)</p>
        <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
          <input type="text" id='newLongUrl' value="<%= userUrls[shortURL].longURL %>" name='newLongUrl'>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    <div class="card-footer text-muted"></div>
  </div>
    <% } else { %>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="alert alert-warning" role="alert">
            This urls does not belong to you account...sorry! Go back to your <a href="/urls">urls</a>
          </div>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <% } %>
  <% }else{ %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="alert alert-warning" role="alert">
          Please <a href="/login">login</a> or <a href="/register" >register</a> to access the urls!
        </div>
      </div>
    <div class="card-footer text-muted"></div>
    </div>
  <% } %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    let copyClip = document.getElementById('copyClip')
    if(copyClip){
    copyClip.addEventListener('click', function(e){
      e.preventDefault()
      let copyText = document.getElementById('pureLink')
      copyText.select()
      document.execCommand('copy')
    })
  }
  </script>
</body>
</html>